// xxs (minimum supported resolution)
$min-breakpoint-xxs: 321px;

// xs (mobile design width)
$min-breakpoint-xs: 375px;
$max-breakpoint-xs: 374px;

// s
$min-breakpoint-s: 600px;
$max-breakpoint-s: 599px;

// m
$min-breakpoint-m: 1024px;
$max-breakpoint-m: 1023px;

// l (desktop design width)
$min-breakpoint-l: 1440px;
$max-breakpoint-l: 1439px;

// xl
$min-breakpoint-xl: 1920px;
$max-breakpoint-xl: 1919px;