
// Color palette
$color-brand-primary: #ebcd5a;
$color-brand-secondary: #f0e1a8;

$color-background-sand: #f7f5ee;
$color-background-green: #edf1e7;

$color-green: #1b451e;
$color-orange: #d86d38;


// Sizes
$content-width: 90rem;
$content-padding: 1.5rem;
$content-padding-mobile: 1rem;