
// Color palette
$color-brand-primary: #f2b401;
$color-brand-secondary: #4f6630;

$color-background-sand: #f2e8cf;
$color-background-green: #edf1e7;

$color-green: #84ac0d;
$color-orange: #d86d38;

$color-gray: #3a3a3a;
$color-dark-gray: #1a1a1a;


// Sizes
$content-width: 90rem;
$content-padding: 1.5rem;
$content-padding-mobile: 1rem;