@use "../../../styles/variables" as *;
@use "../../../styles/breakpoints" as breakpoints;

.footer {
    background-color: $color-brand-secondary;
    padding: 2rem 0;
    color: $color-sand;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);

    &__content {
        width: 100%;
        max-width: $content-width;
        margin: 0 auto;
        padding: $content-padding;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width: breakpoints.$min-breakpoint-m) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    a {
        color: $color-yellow;
    }

    &__socials-link-list {
        display: flex;
        gap: 1rem;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-dark-gray;
        border-radius: 70% 30% 30% 70% / 60% 40%;
        padding: 1.25rem;
        width: 2rem;
        transition: all 0.32s cubic-bezier(1, 0, 0, 1);

        img {
            filter: invert(1);
        }

        &:nth-child(2n) {
            border-radius: 62% 50% 52% 48% / 62% 40% 72% 42%;
        }

        &:nth-child(3n) {
            border-radius: 70% 54% 52% 60% / 54% 28% 96% 69%;
        }

        &:nth-child(4n) {
            border-radius: 52% 48% 33% 62% / 64% 35% 60% 35%;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);

            img {
                transform: scale(0.65);
            }
        }
    }

    &__icon {
        height: 1.25rem;
        width: auto;
        transition: all 0.32s cubic-bezier(1, 0, 0, 1);
    }
}