@use "../../../styles/variables" as *;

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-background-green;
    box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.45rem);
    z-index: 1;

    &__content {
        max-width: $content-width;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}