@use "../../../styles/variables" as *;

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    isolation: isolate;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    overflow: hidden;

    &__hero-content {
        width: 100%;
        max-width: $content-width;
        margin: 0 auto;
        padding: $content-padding;
    }
}