@use "./styles/variables" as *;
@use "./styles/typography" as typography;

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: $color-text;
  background: $color-background-sand;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: typography.$font-size-body;
  line-height: typography.$line-height-body;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

ul {
    padding: 0;
}

  li {
      list-style: none;
  }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// Heading styling
h4 {
    margin-bottom: 0.5rem;
}

// Google Maps styling

.gm-style-iw-chr {
    margin-top: -8px;
    margin-right: -8px;
}

.gm-style .gm-style-iw-c {
  flex-direction: row-reverse;
}

.gm-style-iw-d {
  padding-top: 0.6875rem;
}
